/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { 
	margin:0; 
	padding:0; 
}
em { 
	font-style:normal; 
}
ul,ol,dl{
	list-style:none;
}
img { 
	border:none; 
	vertical-align:top; 
}
table { 
	border-collapse:collapse; 
}
input,textarea { 
	outline:none; 
	border:none;
}
textarea { 
	resize:none; 
	overflow:auto; 
}
body { 
	font-size:12px; 
	font-family:"微软雅黑" "Time New Roman"; 
}
a { 
	text-decoration:none;
	color:#5d5d5d; 
}
a:hover{
	text-decoration:underline;
	color:#f60;
}
html,body,#alllist{
	width:100%;
	height:100%;
}
#st-header{
	width:90%;
	height:2rem;
	background:#fff;
	overflow:hidden;
	padding:0 5%;
}
#st-header a{
	display:block;
	height:2rem;
	float:left;	
	position:absolute;
	top:0;
}
#st-header a:nth-of-type(1){
	color: #ca8565;	
	left:0;
	line-height:2rem;
	font-size:1.1rem;
	padding:0 0.75rem;
}
#st-header a:nth-of-type(2){
	font-size:12px;
	right:0;
	line-height:2.2rem;
	margin-right:2.2rem;
}
#st-header a:nth-of-type(3){
	font-size:22px;
	line-height:2rem;
	right:0.6rem;
}
#st-header h3{
	font-weight:normal;
	width:100%;
	height:100%;
	text-align:center;
	font-size:18px;
	color:#ca8565;
	line-height:2rem;
}
#st-content{
	width: 100%;
	height:auto;
	background:#fff;
}
#st-content .con-banner{
	width: 100%;
	height:8.9rem;
	position:relative;
}
#st-content .con-banner ul{
	width: 100%;
	height:8.9rem;
	position:relative;
}
#st-content .con-banner ul li{
	width: 100%;
	height:8.9rem;
	position:absolute;
	top:0;
	left:0;
}
#st-content .con-banner ul li a{
	display:block;
	width:100%;
	height:8.9rem;
}
#st-content .con-banner ul li a img{
	width: 100%;
	height:8.9rem;
	display:block;
}
#st-content .jump-next{
	width:100%;
	height:2.5rem;
	position:relative;
	overflow:hidden;
	text-align:center;	
	border-bottom:1px solid #000;
}
#st-content .jump-next a{
	display:inline-block;
	width:60%;
	height:1.4rem; 
	position:absolute;
	font-size:12px;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	line-height:1.4rem;
	background:#ca8565;
	border-radius:3px;
	color:#fff;
}
#st-content .jump-next a i{
	font-size:12px;
}
#st-content .city-list{
	border:1px solid #8f8f8f;
    border-radius:5px;
    box-shadow: 0 0 5px #aaa;
    margin:0.45rem 0.25rem;
    background: #fff;
}
#st-content .city-list ul{
	width:100%;
	height:auto;	
}
#st-content .city-list ul li{
	height:2.2rem;
	
    border-bottom: 1px solid #898989;
    padding:0 0.5rem;
}
#st-content .city-list ul li a{
	display:block;
	height:2.2rem;
	line-height:2.1rem;
	color: #333;
}
#st-content .city-list ul li a i{
	display:block;
	font-size: 16px;
    color: #9a9a9a;
    float:right;
}
.phone{
	width:100%;
	height:1.8rem;
	line-height:1.8rem;
	color:#333;
	border-bottom:1px solid #797b7c;
	font-size:16px;
}
.phone .sign{
	display:block;
	color:#ca8565;
	font-size:30px;
	float:left;
	padding-left:35%;
}
.kefu{
	width:100%;
	height:1.8rem;
	line-height:1.8rem;
	color:#333;
	border-bottom:1px solid #797b7c;
	font-size:16px;
}
.kefu .kef{
	display:block;
	color:#ca8565;
	font-size:30px;
	float:left;
	padding-left:35%;
}
.footer{
	width:100%;
	height:3.5rem;
	text-align: center;
}
.footer .he{
	overflow: hidden;
	margin:10px 1.8rem;
	display: -webkit-box;
}
.footer .he a{
	margin: 0 0.5rem;
	display: block;
	height: 1rem;
	-webkit-box-flex: 1;
}
.footer .he .jingl1{
	background:url(../img/ico-share.png) no-repeat 0 center;
	background-size: auto 100%;
}
.footer .he .jingl2{
	background:url(../img/ico-share.png) no-repeat -1rem center;
	background-size: auto 100%;
}
.footer .he .jingl3{
	background:url(../img/ico-share.png) no-repeat -2.3rem center;
	background-size: auto 100%;
}
.footer .he .jingl4{
	background:url(../img/ico-share.png) no-repeat -3.3rem center;
	background-size: auto 1rem;
}
.footer .he .jingl5{
	background:url(../img/ico-share.png) no-repeat -4.2rem center;
	background-size: auto 1rem;
}
.footer .he .jingl6{
	background:url(../img/ico-share.png) no-repeat -5.4rem center;
	background-size: auto 1rem;
}
.footer .p4{
	font-size:12px;
    color:#6d6d6d;
    margin-top:15px;
}
.service{
	position:fixed;
	top:60%;
	right:0;
	opacity:0.9;
	z-index:100;
}
.service img{
	width:1.6rem;
	height:5rem;
	display:block;
}
.top{
	width:1.5rem;
	height:1.5rem;
	background:#ca8565;
	position:fixed;
	top:80%;
	right:0;
	opacity:0.9 ;
	text-align: center;
	color:#fff;
	font-size:20px;
	display:none;
}









